<div style="padding-bottom: 2em;">
    <div style="margin-top: 5em; margin-left: auto; margin-right: auto;" *ngIf='allAgreedOffers'>
        <mat-card *ngFor="let offer of allAgreedOffers" style="width: 50%; height: 50%; margin-top: 2em; margin-left: auto; margin-right: auto;">
            <mat-card-title>{{offer.estateName}}</mat-card-title>
            <mat-card-subtitle>Vlasnik: {{offer.estateOwner}}</mat-card-subtitle>
            <mat-card-content>Cena: {{offer.priceToPay}}</mat-card-content>
            <mat-card-content *ngIf="offer.dateFrom=='-1'">Kupac: {{offer.bidder}}</mat-card-content>
            <mat-card-content *ngIf="offer.dateFrom!='-1'">Iznajmljivac: {{offer.bidder}}</mat-card-content>
            <mat-card-content *ngIf="offer.dateFrom!='-1'">Od {{offer.dateFrom}} do {{offer.dateTo}}</mat-card-content>
        </mat-card>
    </div>
    <div style="margin-top: 5em; text-align: center;">
        <mat-label>Profit agencije je: {{agencyProfit}} eura</mat-label>
    </div>
</div>