<div style="margin-bottom: 2em;">
    <form [formGroup]="updateEmailForm" (ngSubmit)='updateEmail()'>
        <table class="mat-elevation-z2 form-style" style="width: fit-content; padding: 2em;">
            <tr style="text-align: center;">
                <th colspan="2">
                    <mat-label class="form-header">Promena mejla</mat-label>
                </th>
            </tr>
            <tr>
                <td>
                    <mat-label class="row-label">Stari mejl:</mat-label>
                </td>
                <td>
                    <input type="email" name="oldEmail" formControlName='oldEmail' required>
                    <mat-label class="error" *ngIf="updateEmailForm.get('oldEmail').hasError('required') && submited">
                        *Stari email je obavezan
                    </mat-label>
                    <mat-label class="error" *ngIf="updateEmailForm.get('oldEmail').hasError('email') && submited">
                        *Email je loseg formata
                    </mat-label>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-label class="row-label">Lozinka:</mat-label>
                </td>
                <td>
                    <input type="password" name="password" formControlName='password' required>
                    <mat-label class="error" *ngIf="updateEmailForm.get('password').hasError('required') && submited">
                        *Lozinka je obavezna
                    </mat-label>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-label class="row-label">Novi mejl:</mat-label>
                </td>
                <td>
                    <input type="email" name="newEmail" formControlName='newEmail' required>
                    <mat-label class="error" *ngIf="updateEmailForm.get('newEmail').hasError('required') && submited">
                        *Novi email je obavezan
                    </mat-label>
                    <mat-label class="error" *ngIf="updateEmailForm.get('newEmail').hasError('email') && submited">
                        *Email je loseg formata
                    </mat-label>
                </td>
            </tr>
            <tr style="text-align: center;">
                <th colspan="2">
                    <button mat-raised-button type="submit">Promeni mejl</button>
                </th>
            </tr>
        </table>
    </form>
</div>