<div>
    <form>
        <table class="form-style">
            <tr>
                <th colspan="2">
                    <mat-label class="form-header">Promena lozinke</mat-label>
                </th>
            </tr>
            <tr>
                <td>
                    <mat-label class="row-label">Stara lozinka:</mat-label>
                </td>
                <td>
                    <input type="password" class="form-input" name="password" [(ngModel)]='oldPassword' required='true'>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-label class="row-label">Nova lozinka:</mat-label>
                </td>
                <td>
                    <input type="password" class="form-input" name="password" [(ngModel)]='newPassword' required='true'>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-label class="row-label">Potvrdi novu lozinku:</mat-label>
                </td>
                <td>
                    <input type="password" class="form-input" name="password" [(ngModel)]='newPasswordConfirmation' required='true'>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <button mat-raised-button (click)='changePassword()'>Promeni lozinku</button>
                </th>
            </tr>
        </table>
    </form>
</div>