<h4>Change password</h4>

<form>
    <table>
        <tr>
            <td>Korisnicko ime:</td>
            <td>
                <input type="text" name="username" [(ngModel)]='username' required='true'>
            </td>
        </tr>
        <tr>
            <td>Stara lozinka:</td>
            <td>
                <input type="password" name="password" [(ngModel)]='oldPassword' required='true'>
            </td>
        </tr>
        <tr>
            <td>Nova lozinka:</td>
            <td>
                <input type="password" name="password" [(ngModel)]='newPassword' required='true'>
            </td>
        </tr>
        <tr>
            <td>Potvrdi novu lozinku:</td>
            <td>
                <input type="password" name="password" [(ngModel)]='newPasswordConfirmation' required='true'>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)='changePassword()'>Promeni sifru</button>
            </td>
        </tr>
    </table>
</form>