<div style="margin-bottom: 2em;">
    <form [formGroup]="changePasswordForm" (ngSubmit)='changePassword()'>
        <table class="mat-elevation-z2 form-style" style="width: fit-content; padding: 2em;">
            <tr style="text-align: center;">
                <th colspan="2">
                    <mat-label class="form-header">Promena lozinke</mat-label>
                </th>
            </tr>
            <tr>
                <td>
                    <mat-label class="row-label">Stara lozinka:</mat-label>
                </td>
                <td>
                    <input type="password" name="oldPassword" formControlName='oldPassword' required='true'>
                    <mat-label class="error" *ngIf="changePasswordForm.get('oldPassword').hasError('required') && submited">
                        *Stara lozinka je obavezna
                    </mat-label>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-label class="row-label">Nova lozinka:</mat-label>
                </td>
                <td>
                    <input type="password" name="newPassword" formControlName='newPassword' required>
                    <mat-label class="error" *ngIf="changePasswordForm.get('newPassword').hasError('required') && submited">
                        *Nova lozinka je obavezna
                    </mat-label>
                    <mat-label class="error" *ngIf="changePasswordForm.get('newPassword').hasError('pattern') && submited">
                        *Lozinka mora da ima barem jedno veliko slovo, jedno malo slovo, jedan numerik, jedan specijalan karakter.
                        <br /> Mora da ima najmanje 8 a najvise 24 karaktera i ne sme da ima vise od 3 uzastopna karaktera.
                    </mat-label>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-label class="row-label">Potvrdi novu lozinku:</mat-label>
                </td>
                <td>
                    <input type="password" name="confirmNewPassword" formControlName='confirmNewPassword' required>
                    <mat-label class="error" *ngIf="changePasswordForm.get('confirmNewPassword').hasError('required') && submited">
                        *Potvrda nove lozinke je obavezna
                    </mat-label>
                </td>
            </tr>
            <tr style="text-align: center;">
                <th colspan="2">
                    <button mat-raised-button type="submit">Promeni lozinku</button>
                </th>
            </tr>
        </table>
    </form>
</div>