<div style="padding-bottom: 2em;">
    <div style="width: fit-content; margin-top: 5em; margin-left: auto; margin-right: auto;">
        <h2>{{estate.title}}</h2>
        <p>{{estate.city}}, {{estate.municipality}}, {{estate.address}}</p>
        <p>Tip: {{estate.type}}</p>
        <p *ngIf="estate.type=='Kuca'">Broj spratova kuce: {{estate.numberOfFloors}}</p>
        <div *ngIf="estate.type=='Stan'">
            <p>Sprat broj: {{estate.floorNumber}}</p>
            <p>Ukupan broj spratova zgrade: {{estate.numberOfFloors}}</p>
        </div>
        <p>{{estate.squareFootage}} kvadrata, {{estate.numberOfRooms}}</p>
        <p *ngIf="estate.furnished==true">Namesten</p>
        <p *ngIf="estate.furnished==false">Nenamesten</p>
        <p *ngIf="estate.rentOrSale=='rent'">Izdavanje</p>
        <p *ngIf="estate.rentOrSale=='sale'">Prodaja</p>
        <p *ngIf="estate.rentOrSale=='sale'">Cena: {{estate.priceToBuy}}</p>
        <p *ngIf="estate.rentOrSale=='rent'">Cena: {{estate.priceToRent}}</p>
        <p>Vlasnik: {{estate.ownerUsername}}</p>
    </div>
    <div style="width: 50%; height: 50%; margin-top: 2em; margin-left: auto; margin-right: auto; display: flex; justify-content: center;">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item" style="width: 100%; height: 100%;" *ngFor="let image of estate.gallery; let i=index" [ngClass]="(i === 0) ? 'active' : ''">
                    <img class="d-block w-100 img-fluid" src="{{image}}">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div *ngIf="estate.ownerUsername!=username && userType!='agent'">
        <form>
            <table class="form-style">
                <tr *ngIf="estate.rentOrSale=='sale'">
                    <th colspan="2">
                        <mat-label class="form-header">Kupite nekretninu</mat-label>
                    </th>
                </tr>
                <tr *ngIf="estate.rentOrSale=='rent'">
                    <th colspan="2">
                        <mat-label class="form-header">Iznajmite nekretninu</mat-label>
                    </th>
                </tr>
                <tr *ngIf="estate.rentOrSale=='sale'">
                    <td>
                        <mat-label class="row-label">Nacin placanja:</mat-label>
                    </td>
                    <td>
                        <mat-radio-group [(ngModel)]='cashOrCredit' name="cashOrCredit" required='true'>
                            <mat-radio-button color="primary" value="credit" style="margin-right: 1em;">Kredit
                            </mat-radio-button>
                            <mat-radio-button color="primary" value="cash" style="margin-right: 1em;">Gotovina
                            </mat-radio-button>
                        </mat-radio-group>
                    </td>
                </tr>
                <tr *ngIf="estate.rentOrSale=='sale' && cashOrCredit=='credit'">
                    <th colspan="2">
                        <mat-label class="form-header">Ukupno za platiti: {{estate.priceToBuy}} + 20% ucesce = {{creditPrice}}
                        </mat-label>
                    </th>
                </tr>
                <tr *ngIf="estate.rentOrSale=='sale' && cashOrCredit=='cash'">
                    <th colspan="2">
                        <mat-label class="form-header">Ukupno za platiti: {{estate.priceToBuy}}</mat-label>
                    </th>
                </tr>
                <tr *ngIf="estate.rentOrSale=='rent'">
                    <th colspan="2">
                        <mat-form-field appearance="fill">
                            <mat-label>Unesite datume iznajmljivanja</mat-label>
                            <mat-date-range-input [formGroup]="date" [rangePicker]="picker">
                                <input matStartDate formControlName="start" placeholder="Pocetak">
                                <input matEndDate formControlName="end" placeholder="Kraj">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <button mat-raised-button (click)='sendOffer()'>Posalji ponudu</button>
                    </th>
                </tr>
            </table>
        </form>
    </div>
</div>