<div style="height: 100%;">
    <mat-sidenav-container class="background-transparent">

        <mat-sidenav position="end" #drawer mode="side" [fixedInViewport]="true" opened class="background-transparent custom-mat-drawer" style="width: 18em; text-align: center;">
            <button mat-button routerLink='updateUserInfo' routerLinkActive="button-nav-selected" class="nav-button">Promeni licne podatke</button><br /><br />
            <!-- <button mat-button routerLink='updateUsername' routerLinkActive="button-nav-selected" class="nav-button">Promeni korisnicko ime</button><br /><br /> -->
            <button mat-button routerLink='updateEmail' routerLinkActive="button-nav-selected" class="nav-button">Promeni mejl</button><br /><br />
            <button mat-button routerLink="changePassword" routerLinkActive="button-nav-selected" class="nav-button">Promeni lozinku</button><br /><br />
        </mat-sidenav>

        <mat-sidenav-content>
            <div class="background-transparent custom-mat-drawer-content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>